@font-face {
  font-family: "Amsterdam";
  src: url("../fonts/NewAmsterdam-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Josefin";
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf") format("truetype")
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* --- */

html {
  font-size: 16px;
}

body {
  font-family: 'Amsterdam', sans-serif;

  overflow: hidden;
}

/* --- */

/* - CONTAINER - */
#container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  gap: 1rem;

  color: #2A2E30;

  background-image: url(../img/woodboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* - INICIO - */
#container>div:first-of-type {
  width: 100%;
  height: 5rem;

  padding: 1rem;

  position: absolute;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;

  background-image: url(../img/note.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.73);
}

/* Inicio > imagen */
#container>div:first-of-type>img {
  width: 3rem;

  filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, 0.2));
}

/* Inicio > div */
#container>div:first-of-type>div {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: .5rem;
}

/* Inicio > titulo */
#container>div:first-of-type>div>h1 {
  font-size: 2rem;
}

/* Inicio > autor */
#container>div:first-of-type>div>a {
  font-family: 'Josefin', 'Amsterdam', sans-serif;

  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #2A2E30;
}

/* - CONTENIDO - */
#container>div:nth-of-type(2) {
  width: 100%;
  height: 65vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

/* - GENERAR EXCUSA - */
#container>div:nth-of-type(2)>div:first-of-type {
  width: 20%;
  height: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-image: url(../img/note.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.73);
}

/* Generar Excusas > texto */
#container>div:nth-of-type(2)>div:first-of-type>h2 {
  font-size: 3rem;
  text-align: center;
}

/* Generar Excusas > flecha */
#container>div:nth-of-type(2)>div:first-of-type>p {
  font-size: 4rem;
}

/* Generar Excusas > imagen */
#container>div:nth-of-type(2)>div:first-of-type>img {
  width: 8rem;

  cursor: pointer;

  filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, 0.2));

  transition: transform 300ms ease-in-out;
}

#container>div:nth-of-type(2)>div:first-of-type>img:hover {
  transform: rotateZ(180deg);
  filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, 0.4));
}

#container>div:nth-of-type(2)>div:first-of-type>img:active {
  filter: drop-shadow(0 0 .5rem rgba(255, 0, 0, 0.6));
}

/* - EXCUSAS - */
#container>div:nth-of-type(2)>div:nth-of-type(2) {
  width: 100%;
  height: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-image: url(../img/note.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.73);
}

/* Excusas > texto */
#container>div:nth-of-type(2)>div:nth-of-type(2)>h3 {
  font-size: 4rem;
  text-align: center;
}

/* - AJUSTES - */
/* Ajustes > 855px */
@media (max-width: 855px) {

  /* Ajustes > contenido */
  #container>div:nth-of-type(2) {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
  }

  /* Ajustes > generar excusa */
  #container>div:nth-of-type(2)>div:first-of-type {
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }

  /* Ajustes > generar excusas > texto */
  #container>div:nth-of-type(2)>div:first-of-type>h2 {
    font-size: 3rem;
  }

  /* Ajustes > generar excusas > flecha */
  #container>div:nth-of-type(2)>div:first-of-type>p {
    font-size: 4rem;
    transform: rotateZ(270deg);
  }

  /* Ajustes > generar excusas > imagen */
  #container>div:nth-of-type(2)>div:first-of-type>img {
    width: 6rem;
  }

  /* Ajustes > excusas > texto */
  #container>div:nth-of-type(2)>div:nth-of-type(2)>h3 {
    font-size: 3rem;
  }
}

/* Ajustes > 495px */
@media (max-width: 495px) {

  /* Ajustes > inicio > div */
  #container>div:first-of-type>div>a {
    display: none;
  }

  /* Ajustes > inicio > div */
  #container>div:first-of-type>div>h1 {
    font-size: 2rem;
  }


  /* Ajustes > generar excusa */
  #container>div:nth-of-type(2)>div:first-of-type {
    width: 100%;
    height: 30%;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

    background-image: url(../img/note.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.73);
  }

  /* Ajustes > generar excusas > flecha */
  #container>div:nth-of-type(2)>div:first-of-type>p {
    display: none;
  }

  /* Ajustes > excusas > texto */
  #container>div:nth-of-type(2)>div:nth-of-type(2)>h3 {
    font-size: 2.5rem;
  }
}

/* Ajustes > 345px */
@media (max-width: 345px) {

  /* Ajustes > inicio > div */
  #container>div:first-of-type>div>h1 {
    font-size: 1.5rem;
  }

  /* Ajustes > generar excusas > texto */
  #container>div:nth-of-type(2)>div:first-of-type>h2 {
    display: none;
  }

  /* Ajustes > excusas > texto */
  #container>div:nth-of-type(2)>div:nth-of-type(2)>h3 {
    font-size: 2rem;
  }
}

/* --- */